body{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background-color: #1a1a1d;
}

.container1{
    display: flex;
    height: 2000px;
    width: 20;
    justify-content: center;
    flex-wrap: wrap;
}


.mainContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 10%;
    box-shadow: 10px 10px black ;

}


.container2{
    display: flex;
    height: 100%;
    width: 500px;
    flex-direction: column;
    background-color: #c3073f;

}

.topbox{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    background-color: white;
    border-radius: 20px;    
    box-shadow: 10px 10px black ;

}




.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    flex-direction: column;
    height: 500px;
}

.container3{
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px black ;

}

.container4{
    display: flex;
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px black ;

}

.container5{
    display: flex;
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px black ;

}

